@use '../../_css/queries.scss' as *;

.header {
  position: relative;
  padding: var(--base) 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0, 0.75) 0);
  overflow: hidden;
  width: 100%;
  z-index: 1;

  @include mid-break {
    padding: var(--base) 0;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 250px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
