@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0, 0.75) 0);
  overflow: hidden;
  z-index: 2;
  width: 100%;

  @include mid-break {
    position: static;
    padding: var(--base) 0 16px;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 250px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
